[user]
    name = {{ .name }}
    email = {{ .email }}

[alias]
    please = push --force-with-lease
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[push]
    autoSetupRemote = true

[pull]
    rebase = true

[core]
    excludesfile = ~/.config/git/.gitignore

# credential.helper=/mnt/c/Program\ Files/Git/mingw64/bin/git-credential-manager.exe
