# -*- mode: shell-script -*-

function my_zsh_history {
    ## History file configuration
    [ -z "$HISTFILE" ] && HISTFILE="$HOME/.zsh_history"
    [ "$HISTSIZE" -lt 50000 ] && HISTSIZE=50000
    [ "$SAVEHIST" -lt 10000 ] && SAVEHIST=10000

    ## History command configuration
    setopt extended_history       # record timestamp of command in HISTFILE
    setopt hist_expire_dups_first # delete duplicates first when HISTFILE size exceeds HISTSIZE
    setopt hist_ignore_dups       # ignore duplicated commands history list
    setopt hist_ignore_space      # ignore commands that start with space
    setopt hist_verify            # show command with history expansion to user before running it
    setopt share_history          # share command history data
}

function my_zsh_bindings {
    # showkey -a # to find keycode
    # bindkey -L # to list all keybindings

    bindkey "^[[1;5C" forward-word # ctrl + right
    bindkey "^[[1;5D" backward-word # ctrl + left

    autoload -Uz select-word-style
    select-word-style bash # respect slash as word delimiter
    bindkey "^H" backward-kill-word # ctrl + backspace
}
